@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    overflow-x: hidden;
}

body h1 h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

body p {
    font-family: 'Poppins', sans-serif;
}

/* First Section - Header Start */
.header {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6)url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    height: 50%;
    color: #fff;
    position: absolute;
    text-align: center;
}

.hero h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2;
}

.hero p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.button {
    padding: 15px 25px;
    background-color: #FF595A;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* First Section - Header End */

/* Second Section - Donate Amount Start */
.donate-amount {
    width: 100%;
    position: relative;
    text-align: center;
}

.donate-today {
    margin-top: 130px;
    margin-bottom: 50px;
}

.donate-today h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.donate-today p {
    color: #707070;
}

.donate-option ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.donate-option ul li {
    padding: 40px 30px;
    background-color: #FAFAFA;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #707070;
    cursor: pointer;
}

.donate-option ul li.active {
    border: 2px solid #FF5959;
    border-radius: 4px;
    color: #FF5959;
}

.donate-extra-option {
    margin-top: 50px;
    width: 50%;
    display: inline-block;
}

.donate-extra-option a {
    margin-top: 30px;
    display: inline-block;
}

.donate-extra-option input {
    line-height: 3;
    border: none;
    width: 100%;
    text-align: center;

}

.donate-extra-option input::-webkit-input-placeholder {
    color: #B3B3B3;
    font-size: 20px;
    font-weight: normal;
}

.donate-extra-option hr {
    width: 100%;
    color: #FF5959;
    height: 0.5px;
}

/* Second Section - Donate Amount End */

/* Thired Section - Donate Plan Start */
.donate-sector {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    text-align: left;
    margin-bottom: 120px;

}

.donate-sector img {
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
}

.donate-sector h3 {
    margin-bottom: 1em;
}

.food {
    width: 30%;
    background-color: #FFC4DD;
    padding: 2em 1em;
    border-radius: 4px;
}

.shelter {
    width: 30%;
    background-color: #E4AEC5;
    padding: 2em 1em;
    border-radius: 4px;
}

.education {
    width: 30%;
    background-color: #82A284;
    padding: 2em 1em;
    border-radius: 4px;
}

/* Thired Section - Donate Plan End */

/* Fourth Section - Featured Article Start */
.blog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    text-align: left;
    margin-bottom: 120px;
}

.blog-content {
    width: 45%;
    padding-right: 4em;
}

.blog-content h2 {
    font-size: 2em;
    margin-bottom: 15px;
    line-height: 1.2;
}

.blog-content p {
    margin-bottom: 45px;
}

.blog-photo {
    width: 47%;
}

.blog-photo img {
    width: 100%;
    border-radius: 4px;
}

/* Fourth Section - Featured Article End */

/* Fifth Section - Join Our Mission Start */
.mission {
    width: 100%;
    background-color: #FF5959;
}

.misson-title h2 {
    color: #fff;
    font-size: 2em;
    padding-top: 3em;
    padding-bottom: 1.5em;
}

.mission-join-option {
    padding-bottom: 5em;
}

.circle {
    background-color: #fff;
    width: 250px;
    height: 250px;
    line-height: 250px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #FF5959;
    font-weight: bold;
    margin-right: 2em;
}

/* Fifth Section - Join Our Mission End */

/* sixth Section - Newsletter Start */
.newsletter {
    width: 100%;
    padding: 4em;
}

.newsletter-content {
    margin-bottom: 3em;
}

.newsletter-content h2 {
    font-size: 2em;
    font-weight: normal;
}

.newsletter-content p {
    color: #707070;
    margin-top: 1em;

}

.newsletter-form {
    background-color: #FFF4D6;
    width: 100%;
    padding: 4em;
}

#put-email {
    background-color: #dadada;
    width: 300px;
    height: 50px;
    margin-right: -10px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 1em;
    font-size: .8em;
}

#subscribe {
    background-color: #FF5959;
    width: 150px;
    height: 50px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    font-size: .8em;
}

/* sixth Section - Newsletter End */

/* seventh Section - Footer Start */

footer {
    width: 100%;
    background-color: #0c180d;
    padding: 3em;
}

#footer h3 {
    color: #FF5959;
    margin-bottom: .5em;
}

#footer p {
    color: #fff;
    font-size: .75em;
}

/* seventh Section - Footer End */