@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body h1 h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

body p {
    font-family: 'Poppins', sans-serif;
}

/* First Section - Header Start */
.header {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6)url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    height: 50%;
    color: #fff;
    position: absolute;
    text-align: center;
}

.hero h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2;
}

.hero p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.button {
    padding: 15px 25px;
    background-color: #FF595A;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* First Section - Header End */

/* Second Section - Donate Amount Start */
.donate-amount {
    width: 100%;
    position: relative;
    text-align: center;
}

.donate-today {
    margin-top: 130px;
    margin-bottom: 50px;
}

.donate-today h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.donate-today p {
    color: #707070;
}

.donate-option ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.donate-option ul li {
    padding: 40px 30px;
    background-color: #FAFAFA;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #707070;
    cursor: pointer;
}

.donate-option ul li.active {
    border: 2px solid #FF5959;
    border-radius: 4px;
    color: #FF5959;
}

.donate-extra-option {
    margin-top: 50px;
    width: 50%;
    display: inline-block;
}

.donate-extra-option a {
    margin-top: 30px;
    display: inline-block;
}

.donate-extra-option input {
    line-height: 3;
    border: none;
    width: 100%;
    text-align: center;

}

.donate-extra-option input::-webkit-input-placeholder {
    color: #B3B3B3;
    font-size: 20px;
    font-weight: normal;
}

.donate-extra-option hr {
    width: 100%;
    color: #FF5959;
    height: 0.5px;
}

/* Second Section - Donate Amount End */